In [1]:
from importlib import reload as rel
import numpy as np, pandas as pd, datetime as dt, time
import queue, collections, trading.utils, trading.functions as fn
import trading.LiveMktData as lmd, trading.OrderPlacement as op, trading.AccountPositions as ap

#### Simulated inputs (from extension)

In [5]:
underlying = 'EURUSD'
msg = 'n=entryL1 d=long t=m p=0 q=1 u=1 c=10000 b=1h'

In [6]:
app = fn.reconnect()
ibcontract, minTick = fn.make_contract(app, underlying)
order1 = fn.make_order(app, ibcontract, minTick, msg)
orderid1 = app.place_new_IB_order(ibcontract, order1, orderid=None)
fn.check_fill(app, order1, orderid1)
exec_df = fn.get_execDetails(app)
app.disconnect()

App already connected
App already connected
IB error id -1 errorcode 2107 string HMDS data farm connection is inactive but should be available upon demand.cashhmds
App already connected
IB error id -1 errorcode 2106 string HMDS data farm connection is OK:cashhmds
0,0,0: MKT BUY 85616@179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368.000000
Getting orderid from IB
IB error id 50 errorcode 366 string No historical data query found for ticker id:50
Using order id of 32
App already connected
== ORDER FILLED ==
App already connected

In [7]:
exec_df

                       conId  OrderId  AvgPrice   Shares  ClientId
time
20190111  10:00:09  12087792       18  1.151980   177935         1
20190111  10:00:30  12087792       19  1.151960   177147         1
20190111  10:01:07  12087792       20  1.151890   176522         1
20190111  10:03:18  12087792       21  1.151660   174520         1
20190111  10:03:39  12087792       22  1.151770   174520         1
20190111  10:04:01  12087792       23  1.151770   174520         1
20190111  10:04:27  12087792       24  1.151740   174520         1
20190111  10:14:02  12087792       25  1.152360   171784         1
20190111  10:14:51  12087792       26  1.152380   171232         1
20190111  10:16:29  12087792       27  1.152280   171232         1
20190111  10:17:31  12087792       28  1.152380   171232         1
20190111  10:18:41  12087792       29  1.152090   171232         1
20190111  10:19:29  12087792       30  1.152130   171232         1
20190111  10:21:49  12087792       31  1.152320  1000000         1
20190111  10:21:49  12087792       31  1.152320   500000         1
20190111  10:21:49  12087792       31  1.152316  1000000         1
20190111  10:21:49  12087792       31  1.152314  1000000         1
20190111  10:21:49  12087792       31  1.152314    10244         1
20190111  10:35:21  12087792       32  1.152340    85616         1

#### Historical Market Data

In [27]:
app = fn.reconnect()
ibcontract, minTick = fn.make_contract(app, underlying)
hist_mkt_data = app.get_IB_historical_data(ibcontract, durationStr='2 D', barSizeSetting='1 hour')
app.disconnect()

App already connected
App already connected
IB error id -1 errorcode 2104 string Market data farm connection is OK:eufarm
IB error id -1 errorcode 2104 string Market data farm connection is OK:cashfarm
IB error id -1 errorcode 2106 string HMDS data farm connection is OK:euhmds
IB error id -1 errorcode 2106 string HMDS data farm connection is OK:njhmds
IB error id -1 errorcode 2106 string HMDS data farm connection is OK:cashhmds
IB error id -1 errorcode 2106 string HMDS data farm connection is OK:fundfarm
IB error id -1 errorcode 2106 string HMDS data farm connection is OK:ushmds

#### Account Positions

In [ ]:
app = fn.reconnect()

## lets get positions
positions_list = app.get_current_positions()
print(positions_list)

## get the account name from the position
## normally you would know your account name
accountName = positions_list[0][0] #'DU486001'

## and accounting information
accounting_values = app.get_accounting_values(accountName)
print(accounting_values)

## these values are cached
## if we ask again in more than 5 minutes it will update everything
accounting_updates = app.get_accounting_updates(accountName)
print(accounting_updates)

app.disconnect()